* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
}


.container {
    width: 100%;
    height: 100%;
    background: url('city1.jpg') no-repeat center center fixed;


    background-size: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.box {
    background: rgb(163, 59, 232);
    background: linear-gradient(0deg, rgba(163, 59, 232, 1) 0%, rgba(118, 120, 245, 1) 100%);

    width: 500px;
    border-radius: 10px;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 30px;
}

#head {
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
}


.inputBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    display: flex;
    width: 75%;
    border-bottom: 2px solid rgb(183, 182, 182);
    margin: 10px;

}

#inputUser {
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    outline: 0;
    color: white;
}

#inputPass {
    width: 100%;
    height: 40px;
    background: none;
    outline: 0;
    border: none;
    color: white;
}

.person {
    margin: 0px 10px;
    color: white;
}


.lock {
    margin: 0px 10px;
    color: white;
}

::placeholder {
    color: white;

}

.remember {
    margin: 20px;
    padding-left: 50px;
    color: white;
}


.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

button {
    padding: 15px 35px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
}


a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    margin: 20px;
    margin-top: 60px;
    text-decoration: none;
    font-size: 14px;
}