* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
}

.box {
    background-color: rgb(91, 154, 91);
    color: white;
}