* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
    /* position: absolute; */
}

.box {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(74, 188, 74);
    color: white;
    padding: 20px;
    border-radius: 10px;
}